{% extends 'base.html.twig' %}

{% block title %}Profile - {{ user.username }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ user.username }}</h1>

    <div class="d-flex flex-column align-items-center">
        <h1 class="mb-5">Projects</h1>


        {% if projects %}
        <button class="btn btn-outline-primary mb-3 ml-auto" onclick="location.href = '{{ path('projects_create') }}';">Create a Project</button>
        <table class="table table-sm border">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Lang</th>
                    <th scope="col">File</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    {% if (project.invisible == 0) %}
                    <tr>
                        <th scope="row">{{ project.id }}</th>
                        <td>{{ project.name }}</td>
                        <td>{{ project.langCode.langCode }}</td>
                        <td><a href="{{ asset('uploads/files/' ~ project.file) }}" download>Download</a></td>
                        <td><a class="btn btn-outline-primary mb-3" href='/projects/{{project.id}}/delete'>Delete a Project</a></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <button class="btn btn-outline-primary mb-3" onclick="location.href = '{{ path('projects_create') }}';">Create a Project</button>
            <h3>No project found.</h3>
        {% endif %}
    </div>
</div>
{% endblock %}
